NODE_ENV=development
PORT=6003
FRONTEND_URL=http://localhost:3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DATABASE=manage_assets

JWT_SECRET=change-me-in-env
JWT_REFRESH_SECRET=change-me-refresh

# Redis configuration for BullMQ
REDIS_HOST=localhost
REDIS_PORT=6379

MAIL_FROM=noreply@assetsup.local
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=

ASSET_ID_PREFIX=AST
ASSET_ID_START=1000

# Stellar/Soroban Configuration
STELLAR_RPC_URL=https://rpc-futurenet.stellar.org
STELLAR_SECRET_KEY=your-stellar-secret-key-here
STELLAR_CONTRACT_ID=your-soroban-contract-id-here
STELLAR_NETWORK_PASSPHRASE=Future Net ; October 2022